@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    /* background colors */
    
    /* text colors */
    
    /* colors of shadows */
    --cs-1: #5f6d91;
    --cs-2: #5c6e9d;
    --info:#4380cb;
    --celeste-light:#468ce2;
    --celeste-light-active:#6cabf8;
    
    /* colors of border */
    --b-1: #2e3b5f;
    --b-2: #8894ba;
    
    --dark: #1B2335;
    --dark-active: #2c3348;
    --yellow:rgb(204, 167, 4);
    --yellow-active:rgb(241, 198, 8);
    --white: #ffffff;
    --gray: #828bad;
    --gray-active: #dee1ec;
    --celeste: #0573c7; 
    --celeste-active: #0693ff;
    --red: rgb(157, 3, 3);
    --red-active: red;
    --blue: rgb(0, 0, 138);
    --blue-active: rgb(0, 0, 255);
    --green: green;
    --green-active: rgb(5, 199, 5);
    
}

body{
    width: 100%;
    background: var(--dark-active);
    font-family: 'Fira Code', monospace;
    scroll-behavior: smooth;
}

.author{
    font-size: 20px;
    font-weight: 600;
    color:rgb(243, 243, 243);
}

.fieldset{
    padding:20px;
    border:1px solid var(--gray);
    color: var(--gray);
    border-radius: 7px;
}

.divide:before{
    content:'/';
    position:absolute;
    color:white;
    top:0px;
    right:-15px;
}

.line{
    width: 100%;
    border:none;
    height: 1px;
    display: block;
    background: var(--gray);
    margin: 10px 0px;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin:0px auto;
    padding:0px 20px;
}

.redirect{
    text-align: center;
    color: var(--gray-active);
    font-size: 13px;
    margin-top:7px;
}

.redirect a{
    text-decoration: none;
    color: var(--celeste);
}

.redirect a:hover{
    color: var(--celeste-active);
}

.btn-up{
    position:fixed;
    bottom:75px;
    border-radius: 50%;
    border:none;
    padding:7px;
    background: var(--yellow);
    display:grid;
    justify-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-up i{
    color:var(--white);
}

.btn-up:hover i{
    font-size: 22px;
}

/* section login ================================== */



.login{
    margin-top:40px;
}

.login__title{
    text-align: center;
    color:var(--white);
}

.login__subtitle{
    margin-top:20px;
    font-weight: 700;
}

.login__subtitle, .login__paragraph{
    color: var(--gray);
    text-align: center;
}

.login__paragraph{
    margin-top: 5px;
    font-weight: 100;
}

.login__start{
    text-align: center;
    margin-top:30px;
    color: var(--gray);
    font-weight: 500;
}

/* form ============================ */
.login__form{
    width:80%;
    max-width: 300px;
    margin:auto;
    margin-top: 20px;
}

.login__form form{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

.login__form form input{
    padding:10px;
    padding:7px;
    border-radius: 7px;
    color: var(--ct-3);
    font-size: 17px;
}


.login__form form input[type="text"]:focus
.login__form form input[type="password"]:focus{
    outline: 3px solid var(--cs-2);
}

.login__form form input[type="submit"]{
    padding:10px;
    background: var(--dark);
    color: var(--gray);
    border:none;
    box-shadow: 1px 1px 4px var(--cs-2);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.login__form form input[type="submit"]:hover{
    color: var(--gray-active);
    box-shadow: 4px 2px 7px var(--cs-2);
}

/* socials ======================= */
.login__socials{
    margin-top: 20px;   
}

.login__socials a{
    display:block;
    width:80%;
    max-width: 300px;
    text-decoration: none;
    padding:10px;
    border-radius: 7px;
    margin:0px auto;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.facebook{
    background: var(--celeste);
    color:white;
    box-shadow: 2px 2px 5px var(--celeste-light);
}

.facebook:hover{
    box-shadow: 3px 3px 5px var(--celeste-light-active);
    font-weight: 600;
}
.google{
    color:black;
    background: var(--white);
    box-shadow: 2px 2px 5px var(--yellow);
}

.google:hover{
    box-shadow: 3px 3px 5px var(--yellow-active);
    font-weight: 600;
}



/* ================================================ */

.header{
    width: 100%;
    height: 50px;
    background: var(--dark);
    box-shadow: 2px 1px 5px var(--cs-1);
    border-radius: 0px 0px 3px 3px;
}


/* section nav */

.nav{
    height:50px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:10px;
}


.nav__logo--text{
    color: var(--white);
    font-weight: 300;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(221, 221, 228);
    transition: all 0.5s ease;
}

.nav__logo--text:hover{
    text-shadow: -2px -2px 2px rgb(221, 221, 228);
}

.nav__menu{
    display:inline-flex;
    align-items: center;
    gap: 20px;
}

.nav__menu.active__menu{
    transform: translateX(0%);
}

.nav__menu .menu {
    display: flex;
    gap:20px;
}

.menu li{
    list-style: none;
    position:relative;
}

.menu li a{
    display:block;
    padding:2px 0px;
    color: var(--gray);
    text-decoration: none;
}

.menu li a:hover{
    color: var(--gray-active);
    transition: all 0.5s ease;
}


.session__destroy{
    display: grid;
    align-items: center;
    color: white;
    border-radius: 3px;
    padding:5px 7px;
    background: var(--red);
    text-decoration: none;
    transition: all 0.3s ease;
}


.session__destroy:hover{
    background: var(--red-active);
}



/* section btn__menu */

.nav__btn{
    display:none;
}

.nav__btn--menu{
    background: transparent;
    padding:3px;
    outline: none;
    border: 1px solid var(--b-1);
    border-radius: 5px;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__btn--menu:hover{
    outline: 1px solid var(--white);
}

/* section HOME */

.home{
    margin-top: 40px;
    color: var(--ct-2)
}

.home__form{
    width: 100%;
    margin-top:20px;
}

.home__form div{
    margin-bottom: 10px;
}

.form__input{
    display:flex;
    gap:15px;
}

.form__input--text{
    width:35%;
    padding:7px;
    border-radius: 7px;
    color: var(--ct-3);
    font-size: 17px;
}

.form__input--select{
    width: 30%;
    border-radius: 5px;
}

.form__input--text:focus, 
.form__input--select:focus{
    outline: 3px solid var(--cs-2);
}

.form__input--submit{
    width:100%;
    padding:10px;
    background: var(--dark);
    color: var(--gray);
    border:none;
    box-shadow: 1px 1px 4px var(--cs-2);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.form__input--submit:hover{
    opacity:0.90;
    box-shadow: 4px 2px 7px var(--cs-2);
    color: white;
}

.home__title{
    margin-top: 20px;
    color:var(--gray);
}
/* ===================================================== */
/* section mylinks */
/* ===================================================== */


.home__mylinks{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr;
    gap:7px;
    margin-bottom: 20px;
}

.card{
    /* border: 1px solid var(--b-2); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 20px;
    border-radius: 5px;
    background: var(--dark);
    box-shadow: 1px 1px 2px var(--gray);
}

.card__title{
    color:var(--white);
}

.actions{
    display:flex;
    justify-content:right;
    flex-wrap: wrap;
    gap:7px;
}

.actions a{
    text-decoration: none;
    color:var(--white);
    border-radius:7px;
    padding:5px;
    transition: all 0.4s;
}

.actions a:nth-child(1){
    background: var(--green);
}

.actions a:nth-child(1):hover{
    background: var(--green-active);
}

.actions a:nth-child(2){
    background: var(--blue);
}

.actions a:nth-child(2):hover{
    background: var(--blue-active);
    color: white;
}

.actions a:nth-child(3){
    background: var(--red);
}

.actions a:nth-child(3):hover{
    background: var(--red-active);
    color:white;
}


/* footer */
.footer{
    width: 100%;
    box-shadow: -2px -1px 5px var(--cs-1);
    bottom:0px;
    padding:15px;
    background: var(--dark);
    display:grid;
    grid-template-columns: 1fr;
    gap:10px;
    justify-items: center;
}

.footer h4{
    color: var(--gray);
}

.footer .social-networks{
    display:flex;
    gap:20px;
}

.footer .social-networks a{
    display:block;
}

.footer .social-networks a i{
    font-size: 20px;
    color: var(--gray);
    transition: all 0.3s ease;
    padding:3px;
}

.footer .social-networks a:hover i{
    color: var(--gray-active);
}




@media screen and (max-width: 800px) {
    .nav__menu{
        width: 70%;
        height: calc(100vh - 60px);
        background: var(--dark);
        position: absolute;
        top:55px;
        left: 0px;
        padding:20px;
        border-radius: 3px;
        box-shadow: 2px 2px 4px var(--cs-2);
        z-index: 99;
        transform: translateX(-120%);
        transition: all 0.5s ease;
        display:flex;
        flex-direction: column;
        justify-content:left;
    }

    .nav__menu .menu {
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }

    .divide:before{
        display:none;
    }

    .nav__btn{
        display:block;
    }

    .session__destroy{
      display:block;
      width:100%;
    }

    .session__destroy::after{
        content: 'Cerrar Sessión';
    }
}

